{% extends "base.html" %}

{% block title %}Spletni forenzicni program{% endblock title %}

{% block specifika %}
<h1>Spletni forenzicni program</h1>
<br><br>
<div class="row">
    <form method="post" action="/">
        <div class="col-lg-8">
            <p>Vnesi DNK</p>
            <textarea class="form-control" name="dna" placeholder="Tukaj vnesi dna string"></textarea>
            <button class="btn btn-info btn-lg" type="submit">Poslji</button>
        </div>
    </form>
</div>
{% endblock specifika %}